.table {
  width: 100%;
  border-collapse: collapse;
  color: #adb0b1;

  .theader {
    border: 1px solid #adb0b1;
    text-align: left;
  }

  .tcell {
    padding: 5px 10px;
    border: 1px solid #adb0b1;
  }
}
